h1 {
    color: #00587a;
    margin-bottom: 30px;
}

h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #008891;
}

body {
    background-color: #e6ebe8;
}

.logo {
    padding: 0;
    width: 120%;
}

.container {
    padding-left: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    color: #0f3057;
    font-weight: bold;
}

